.container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: #ECDFDB;
    
    img {
        height: 25%;
        width: 25%;
    }

    .buttons {
        display: inline-block;
        button {
            width: 100px;
        }
    }
}
