<div class="container" *ngIf="player">
  Bienvenido {{ player | json }} hola {{ player.nickName }}
  <button mat-raised-button mat-button color="primary" (click)="back()">
    Back
  </button>
  <h1>Score: {{ player.score }}</h1>
  <!-- <div
  [ngStyle]="{
    'background-color': color,
    width: '100px',
    height: '100px'
  }"
>
  {{ color === "red" ? "RED" : "GREEN" }}
</div> -->
  <ng-container *ngIf="color === 'green'; else red">
    <img src="../../../assets/icons/trafficLightGreen.png" />
  </ng-container>
  <ng-template #red>
    <img src="../../../assets/icons/trafficLightRed.png" />
  </ng-template>

  <div class="buttons">
    <button mat-raised-button mat-button color="primary" (click)="move('left')">
      Left
    </button>
    <button mat-raised-button color="primary" (click)="move('right')">
      Right
    </button>
  </div>
</div>
