.container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    h1 {
        padding-top: 2rem;
    }
    
    img {
        height: 25%;
        width: 25%;
    }

    .buttons {
        display: inline-block;
        button {
            margin: 1rem;
        }
    }
}
