.container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    mat-card {
        margin: auto;

        button {
            display: inline;
            margin: auto;
        }
    }
}