.home-container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    height: 100vh;
    background-color: #ECDFDB;

    img {
        height: 150px;
        width: 150px;
        margin-bottom: 2%;
    }
        
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        mat-card-content {
            form {
                mat-form-field {
                    width: 100%;
                }
            }

        }
    }
}