<div>
  <mat-card class="col-lg-12 col-md-12 col-s-12 col-xs-12">
    <mat-card-content class="home-container">
      <h1>Traffic light game</h1>
      <img src="../../../assets/icons/trafficLight.png" alt="trafficLight" />
      <form #form="ngForm" (ngSubmit)="startGame(form)" class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Nickname</mat-label>
          <input
            matInput
            type="text"
            name="nickName"
            [(ngModel)]="nickName"
            required
          />
          <mat-error
            data-testid="required-error"
            *ngIf="form.controls['nickName']?.invalid"
            >Nickname is required!</mat-error
          >
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="form.invalid">
          Start game!
        </button>
        <button mat-raised-button color="primary" (click)="openDialog()">
          How to play
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
