.container {
    height: calc(100vh - 4rem);

    .ranking-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        .podium-img {
            padding-top: 3rem;
            padding-bottom: 1rem;
        }

        table {
            min-width: 0;
            width: 30%;
            height: 30%;
            box-shadow: none;
            border: none;
            tr {
                td {
                    height: 6rem;
                    border: none;
                }
            }
        }
    }    
}
