mat-card{
    margin-top: 2rem;
    .ranking-container {
        padding: 8rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100vh;

        .podium-img {
            margin-bottom: 1rem;
        }

        table {
            min-width: 0;
            width: 30%;
            height: 30%;
            box-shadow: none;
            border: none;
            tr {
                td {
                    height: 6rem;
                    border: none;
                }
            }
        }
    }
}