<div class="container">
  <h1>Instructions</h1>
  <p>
    The goal of this game is to score maximum points you can. For that you must
    press left and right buttons alternately when traffic light its green.
  </p>
  <p>If you press twice the same button, your points will be dicreased.</p>
  <p>If you press any button when traffic light its red you'll loose.</p>
  <h5>Enjoy it!</h5>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</div>
